{% extends 'base.html' %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Categories   {% for cat in categories %} -{{cat.name}}- {% endfor %}   Locations {% for loc in locations %} -{{loc.name}}- {% endfor %}</li>
{% endblock %}
{% block content %}
<div class="row text-center text-lg-left">
    {% for i in images %}
  <div class="col-lg-3 col-md-4 col-xs-6">
    
    <a class="d-block mb-4 h-100" href="#myModal
    ">
      <div class="portfolio-item-caption d-flex position-absolute h-100 w-100" data-toggle="modal" data-target="#{{i.id}}">
        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img class="img-fluid img-thumbnail mx-auto d-block" src="{{ i.photo.url }}" alt=""  style="width:100%; height:65%">
      
    </a>
    </div>
      <!-- The Modal -->
      <div class="modal fade" id="{{i.id}}">
          <div class="modal-dialog modal-dialog-centered"style="max-width: 1350px!important;" role="document">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                {{i.name}}
                <img class="img-fluid img-thumbnail mx-auto d-block" src="{{ i.photo.url }}" alt="">
                {{i.description}}
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>
    
  {% endfor %}
  </div>

{% endblock %}  
